/* Blues */
$blue-primary: hsl(233, 90%, 70%);
$blue-secondary: hsl(233, 30%, 50%);
$blue-tertiary: hsl(233, 70%, 50%);
$blue-four: hsl(233, 80%, 50%);
$blue-five: hsl(233, 90%, 50%);
$blue-six: hsl(233, 100%, 50%);
$blue-seven: hsl(233, 40%, 50%);
$blue-eight: hsl(233, 30%, 50%);
$blue-nine: hsl(233, 20%, 50%);
$blue-ten: hsl(233, 10%, 50%);

/* Greens */
$green-primary: hsl(145, 50%, 50%);
$green-secondary: hsl(145, 60%, 50%);
$green-tertiary: hsl(145, 70%, 50%);
$green-four: hsl(145, 80%, 50%);
$green-five: hsl(145, 90%, 50%);
$green-six: hsl(145, 100%, 50%);
$green-seven: hsl(145, 40%, 50%);
$green-eight: hsl(145, 30%, 50%);
$green-nine: hsl(145, 20%, 50%);
$green-ten: hsl(145, 10%, 50%);

/* Yellows */
$yellow-primary: hsl(53, 100%, 50%);
$yellow-secondary: hsl(53, 60%, 50%);
$yellow-tertiary: hsl(53, 70%, 50%);
$yellow-four: hsl(53, 80%, 50%);
$yellow-five: hsl(53, 90%, 50%);
$yellow-six: hsl(53, 40%, 50%);
$yellow-seven: hsl(53, 30%, 50%);
$yellow-eight: hsl(53, 20%, 50%);
$yellow-nine: hsl(53, 10%, 50%);

/* Misc */
$white: #fff;
$black: #000;

/* dark shades of primary color*/
$clr-primary-0: hsl(210, 60%, 21%);
$clr-primary-1: hsl(210, 60%, 29%);
$clr-primary-2: hsl(210, 60%, 37%);
$clr-primary-3: hsl(210, 60%, 45%);
$clr-primary-4: hsl(210, 60%, 52%); /* The primary/main color */
$clr-primary-5: hsl(210, 60%, 60%);
$clr-primary-6: hsl(210, 60%, 67%);
$clr-primary-7: hsl(210, 60%, 74%);
$clr-primary-8: hsl(210, 60%, 81%);
$clr-primary-9: hsl(210, 60%, 88%);
/* lighter shades of primary color */

/* dark shades of secondary color*/
$clr-secondary-0: hsl(30, 80%, 21%);
$clr-secondary-1: hsl(30, 80%, 29%);
$clr-secondary-2: hsl(30, 80%, 37%);
$clr-secondary-3: hsl(30, 80%, 45%);
$clr-secondary-4: hsl(30, 80%, 52%); /* secondary color */
$clr-secondary-5: hsl(30, 80%, 60%);
$clr-secondary-6: hsl(30, 80%, 67%);
$clr-secondary-7: hsl(30, 80%, 74%);
$clr-secondary-8: hsl(30, 80%, 81%);
$clr-secondary-9: hsl(30, 80%, 88%);
/* lighter shades of secondary color */

/* darkest grey - used for headings */
$clr-grey-0: hsl(210, 60%, 16%);
$clr-grey-1: hsl(210, 30%, 23%);
$clr-grey-2: hsl(210, 30%, 30%);
$clr-grey-3: hsl(210, 30%, 39%);
$clr-grey-4: hsl(210, 30%, 49%); /* grey used for paragraphs */
$clr-grey-5: hsl(210, 30%, 60%);
$clr-grey-6: hsl(210, 30%, 70%);
$clr-grey-7: hsl(210, 30%, 80%);
$clr-grey-8: hsl(210, 30%, 89%);
$clr-grey-9: hsl(210, 30%, 96%);
/* lightest grey - used for outlines */

/* Other Colors used */
$clr-white: #fff;
$clr-black: #222;
$clr-red-dark: hsl(360, 67%, 44%);
$clr-red-light: hsl(360, 71%, 66%);
$clr-green-dark: hsl(125, 67%, 44%);
$clr-green-light: hsl(125, 71%, 66%);
